body {
	margin: 0;
	padding: 15 0px;
	height: 100%;
	width: 100%;
}

#canvas {
	height: 100%;
	width: 100%;
	border: solid 1px #ddd;
}

#submit-area {
	height: 100%;
}

#input {
	height: calc(100% - 32px);
	resize: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

#submit {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	width: 100%;
}